.navbarBackground{
    background-color: rgb(44, 62, 80);
}
.navbar{
    padding: 24px 0 !important;
}

.navbarBrand{
    font-size: 28px;
    font-family: Montserrat-bold;
}

.navItemBackgroundColor{
    background-color: #1abc9c;
}

.navLink{
    color: white !important;
    font-family: Montserrat-bold;
  
}

.navItem:hover .navLink{
    color: #1abc9c !important;
}

/* #1abc9c */